<div>
    <h1>SMSR - Create Status Report</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <label>Author</label><br/>
        <span *ngIf="me">{{me.Name}}</span><br/>
        <br/>
    </div>
    <div class="col-md-3">
        <label>Project</label>
        <select id="project" class="form-control" [(ngModel)]="selectedProjectId">
            <option *ngFor="let project of projects" value="{{project.Id.toString()}}">{{project.Name}}</option>
        </select>
        <br />
    </div>
    <div class="col-md-3">
        <label>Report Date</label>
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="reportDate" [(ngModel)]="reportDateModel" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">...</button>
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-3">
        <label>&nbsp;</label><br />
        <button class="btn btn-primary" (click)="create()">Create</button>
        <br />
    </div>
</div>

