<div>
    <h1>SMSR - Create Status Report</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <label>Author</label><br/>
        <span *ngIf="me">{{me.Name}}</span><br/>
        <br/>
    </div>
    <div class="col-md-3">
        <label>Project</label>
        <select id="project" class="form-control" [(ngModel)]="selectedProjectId">
            <option *ngFor="let project of projects" value="{{project.Id.toString()}}">{{project.Name}}</option>
        </select>
        <br />
    </div>
    <div class="col-md-3">
        <label>Report Date</label>
        <input class="form-control" [(ngModel)]="reportDate" placeholder="yyyy-mm-dd" />
        <br />
    </div>
    <div class="col-md-3">
        <label>&nbsp;</label><br />
        <button class="btn btn-primary" (click)="create()">Create</button>
        <br />
    </div>
</div>

