<div>
    <h1>SMSR - STARMAN Status Reports</h1>
    <p class="lead">Welcome, {{meLabel}}</p>
</div>
<div class="row">
    <div class="col-md-3">
        <a routerLink="/createEdit/0" class="btn btn-primary" *ngIf="me && me.IsAuthor">Create Status Report</a>
    </div>
    <div class="col-md-3">
        <a routerLink="/list" class="btn btn-primary" *ngIf="me && me.IsAuthor">List Status Reports</a>
    </div>
    <div class="col-md-3">
        <a routerLink="/generateMSR" class="btn btn-primary" *ngIf="me && me.IsAdmin">Generate MSR</a>
    </div>
    <div class="col-md-3">
        <a routerLink="/admin" class="btn btn-primary" *ngIf="me && me.IsAdmin">Admin</a>
    </div>
</div>