<div>
    <h1>SMSR - Status Report {{statusReport.Id}}</h1>
</div>

<div>
    <button class="btn btn-primary btn-sm" (click)="editStatusReport()" [disabled]="!canEdit">Edit</button>&nbsp;
    <button class="btn btn-primary btn-sm" (click)="deleteStatusReport()" [disabled]="!canDelete">Delete</button>&nbsp;
</div>

<br/>

<div *ngIf="statusReport.Id != 0" class="row">
    <div class="col-md-4">
        <label for="author">Author</label><br/>
        <span *ngIf="statusReport.User">{{statusReport.User.Name}}</span>
    </div>
    <div class="col-md-4">
        <label for="author">Project</label><br/>
        <span *ngIf="statusReport.Project">{{statusReport.Project.Name}}</span>
    </div>
    <div class="col-md-4">
        <label for="author">Report Date</label><br/>
        <span>{{statusReport.ReportDate | slice:0:10}}</span>
    </div>
</div>

<br/>

<div *ngIf="statusReport.Entries.length > 0">
    <table class="table table-condensed table-striped">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Value</th>
            <th>Notes</th>
        </tr>
        <tr *ngFor="let entry of statusReport.Entries">
            <td>{{entry.Id}}</td>
            <td>{{entry.EntryType.Name}}</td>
            <td>{{entry.Value}}</td>
            <td>{{entry.Notes}}</td>
        </tr>
    </table>
</div>