<div>
    <h1>SMSR</h1>
    <p class="lead">STARMAN Status Report Manager</p>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="#" class="btn btn-primary">Create Status Report</a>
    </div>
    <div class="col-md-3">
        <a href="#" class="btn btn-primary">List Status Reports</a>
    </div>
    <div class="col-md-3">
        <a href="#" class="btn btn-primary">Generate MSR</a>
    </div>
    <div class="col-md-3">
        <a href="#" class="btn btn-primary">Admin</a>
    </div>
</div>
