<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SMSR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/App_Dist/zone.js"></script>
    <script src="~/App_Dist/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
